<html>
  <head>
    <!-- mobile content scale thing -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- react -->
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>

    <!-- react dom -->
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>

    <!-- babel -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    
    <!-- react router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.0.1/react-router-dom.js"></script>

    <!-- google fonts  -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200&display=swap"
      rel="stylesheet"
    />
    <!-- react router dom -->
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
  </head>
  <script>
   
   const API = "https://acme-users-api-rev.herokuapp.com/api";
  
  
  </script>
</html>
