<html>
  <head>
    <!-- react -->
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>

    <!-- react dom -->
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>

    <!-- babel -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <style>
      input {
        height: 2rem;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>

  <script type="text/babel">
    const { render } = ReactDOM;
    const { Component } = React;

    const NameForm = ({ name, onChangeName }) => {
      return (
        <div>
          <input value={name} onChange={ onChangeName}/>
        </div>
      );
    };

    class App extends Component {
      constructor() {
        super();
        this.state = {
          name: "foo"
        };
        this.onChangeName = this.onChangeName.bind(this)
      }

      onUpdate() {}

      componentDidMount() {}

      onChangeName(ev) {
        this.setState({ name: ev.target.value})
      }

      render() {
        const { name } = this.state;
        const { onChangeName } = this;
        return (
          <div>
            <h1> The name is {name.length} characters long </h1>
            <NameForm name={name} onChangeName={onChangeName} />
          </div>
        );
      }
    }

    const root = document.querySelector("#root");
    render(<App />, root);
  </script>
</html>
